@model PersonViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Coolest Notebook</h1>
    <table class="table"> 
        <thead class="thead-light">
            <tr>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Telephone</td>
            </tr>
        </tbody>
    </table>
</div>
